.selected {
    background-color: red;
}

ul {
    margin-top: 3rem;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

.album {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .date {
        font-size: 1rem;
        font-weight: bold;
        background: rgba(245, 245, 245, 0.5);
        color: black;
        padding: 0.5rem 1rem;
        border-radius: 10px;
    }
}

.album > button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    outline: none;
}
