.compil-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: transform 0.3s;
  gap: 3rem;
  cursor: pointer;
}

.compil-card:hover {
  transform: scale(1.02);
  transition: transform 0.3s;
}

.compil-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.compil-card-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
}

.photo-stack-container {
  position: relative;
  min-width: 70%;
  height: 60%;
}

.photo-stack {
  align-items: center;
  background-position: center;
  background-size: cover;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  transition: 0.5s;
  width: 100%;
  height: 100%;
  background-image: var(--center-image);
}

.photo-stack:before,
.photo-stack:after {
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  content: "";
  height: 100%;
  left: 0%;
  pointer-event: none;
  position: absolute;
  top: 0%;
  transition: 0.5s;
  width: 100%;
  z-index: -1;
}

.photo-stack:before {
  background-image: var(--right-image);
}

.photo-stack:after {
  background-image: var(--left-image);
}

.compil-card:hover .photo-stack:before {
  left: -30px;
  transform: rotate(-2deg) scale(1.05);
  z-index: -1;
}

.compil-card:hover .photo-stack:after {
  left: 30px;
  transform: rotate(2deg) scale(1.05);
  z-index: -1;
}

.button-group {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 2rem;
}

.like-button {
  display: flex;
  gap: 0.5rem;
}
