.compil-list {
  width: 100vw;
  align-content: start;
  gap: 5rem;
  padding: 3rem;
}

.compil-name {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.compil-list > li {
  min-width: 350px;
}

.compils-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
