nav {
  height: 7vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
  color: var(--color-text);
  font-weight: bold;
  font-size: 1.5rem;
}

nav > a {
  height: 100%;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  padding: 0 2rem;
  margin-bottom: 2rem;
}

nav a:hover {
  color: #10a2e1;
}

.theme-toggle {
  background: none;
  border: none;
  color: var(--color-text);
  font-size: 1.5rem;
  outline: none;
  cursor: pointer;
}

.theme-toggle:focus,
.theme-toggle:focus-visible {
  outline: none;
}
