---
import Slide from "../../components/Slide.astro";
---

<Slide>
	<Slide>
		<pre
			class="mini">
			<code data-line-numbers>{`export default function MyApp() {
	return <div>Hello World</div>;
}`}
			</code>
		</pre>
	</Slide>
	<Slide>
		<pre>
			<code data-line-numbers="1-11|2|4|5-6|8">{`function MyApp() {
	const $ = _c(1);
	let t0;
	if ($[0] === Symbol.for("react.memo_cache_sentinel")) {
		t0 = <div>Hello World</div>;
		$[0] = t0;
	} else {
		t0 = $[0];
	}
	return t0;
}`}
			</code>
		</pre>
	</Slide>
</Slide>

<style>
	.mini {
		width: 75%;
	}
</style>
