---
import Slide from "../../components/Slide.astro";
---

<Slide>
	<h2>Example</h2>
	<p>Todo</p>
	<span>
		Code de base avant Compiler sans useMemo / Code de base avant Compiler avec
		useMemo
	</span>
</Slide>
