---
const {title} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width"/>
		<link rel="icon" type="image/svg+xml" href="/slides-template/favicon.svg"/>

		<link rel="stylesheet" href="plugin/highlight/monokai.css"/>
		<meta name="generator" content={Astro.generator}/>

		<title>{title}</title>
	</head>

	<body>
		<slot/>

		<script>
			import Reveal from "reveal.js";
			import RevealHighlight from "reveal.js/plugin/highlight/highlight";

			Reveal.initialize({
				transition: "none",
				history: true,
				// progress: false,
				// controls: false,
				autoAnimateDuration: 0.5,
				autoAnimateEasing: "cubic-bezier(0.4, 0, 0.2, 1)",
				plugins: [RevealHighlight], // use this if you want to show some code
			});
		</script>
	</body>
</html>

<style is:global>
	@import "reveal.js/dist/reveal.css";
	@import "reveal.js/dist/theme/white.css";
	@import "../../src/styles/highlightjs-theme-vs2015.css";
	@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

	* {
		font-family: 'Montserrat', sans-serif !important;
		font-optical-sizing: auto;
		font-style: normal;
	}

	pre {
		border-radius: 10px;
	}

	code {
		font-size: 1.5rem;
		border-radius: 10px;
		padding: 2rem 2rem !important;
		max-height: unset !important;
		border: 2px solid #2ecc71;
	}
</style>
