---
import SlideTitle from "@/components/SlideTitle.astro";
import Slide from "../../components/Slide.astro";

import ZenikaLogo from "../../assets/images/speaker/zenika.png?url";
import KolectoLogo from "../../assets/images/speaker/kolecto.png?url";
import EnedisLogo from "../../assets/images/speaker/enedis.png?url";

import LucasQRCode from "../../assets/images/speaker/qrCodeLucas.png?url";
import MickaQRCode from "../../assets/images/speaker/qrCodeMicka.png?url";
---

<Slide>
	<Slide>
		<SlideTitle
			title="Qui sommes nous"
			punctuation="?"
			style={{
				margin: "auto",
				fontSize: "5rem",
				fontWeight: "bolder",
			}}
		/>
	</Slide>
	<Slide>
		<SlideTitle title="Qui sommes nous" punctuation="?" />
		<div class="flex">
			<div class="profile">
				<div class="picture">
					<img
						src="https://avatars.githubusercontent.com/u/48870153?v=4"
						alt=""
					/>
				</div>
				<p>Lucas Audart</p>
			</div>
			<img class="zenika-logo" src={ZenikaLogo} alt="" />
			<div class="profile">
				<div class="picture">
					<img src="https://avatars.githubusercontent.com/u/60877626" alt="" />
				</div>
				<p>Mickaël Alves</p>
			</div>
		</div>
	</Slide>
</Slide>

<style>
	.profile {
		padding: 1rem;
		width: 30%;
		background-color: var(--background-color);
		border: dashed 2px var(--primary-color);
		border-radius: 15px;
		font-size: 2rem;
		position: relative;

		p {
			text-align: center;
			font-weight: bold;
		}

		.logo {
			width: 75px;
			object-fit: contain;
			position: absolute;
			top: -3rem;

			&.left {
				left: -2rem;
				transform: rotate(20deg);
			}

			&.right {
				right: -2rem;
				transform: rotate(-20deg);
			}
		}
	}

	.picture {
		position: relative;
	}
	.qr-code {
		width: 125px;
		object-fit: contain;
		position: absolute;
		top: 45.9%;
		left: 54.2%;
	}

	.flex {
		display: flex;
		justify-content: space-around;
	}

	.zenika-logo {
		width: 20%;
		object-fit: contain;
	}
</style>
