<table>
	<caption>
		Tableau très scientifique de comparaison de la DX et de l'UX avec React
	</caption>
	<thead>
	<tr>
		<th scope="col"/>
		<th scope="col">DX</th>
		<th scope="col">UX</th>
	</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">React without memo()</th>
			<td class="fragment">😍</td>
			<td class="fragment">🤬</td>
		</tr>
		<tr>
			<th scope="row">"Memoizer correctement"<br /><br/>"Tout mémoizer"</th>
			<td class="fragment">🤯</td>
			<td class="fragment">😍</td>
		</tr>
	</tbody>
</table>

<style>

	table {
		border-collapse: collapse;
		border-radius: 10px;
		width: 70%;
		font-family: sans-serif;
		font-size: 0.8rem;
		letter-spacing: 1px;
		margin-top: 5rem;
		border-style: hidden;
		box-shadow: 0 0 0 2px var(--primary-color);
	}

	caption {
		color: var(--primary-color);
		caption-side: bottom;
		padding: 20px;
		font-weight: bold;
	}

	thead,
	tfoot {
		color: var(--primary-color);
	}

	th,
	td {
		width: 100%;
		text-align: center !important;
		border: 2px solid var(--primary-color) !important;
		padding: 8px 10px;
	}

	td {
		font-size: 5rem;
	}

	th {
		padding: 1rem 0 !important;
		font-size: 1rem;
	}

	tfoot th {
		text-align: right;
	}

	tfoot td {
		font-weight: bold;
	}
</style>
