---
import Slide from "../../../components/Slide.astro";

import ReactCompiler from "@/assets/images/logo/react-compiler.png?url";
import Fire from "@/assets/images/explication/fire.webp?url";
import Explosion from "@/assets/videos/explosion.mp4?url"

import SlideVideo from "../../../components/SlideVideo.astro";
import Separator from "../../../components/Separator.astro";
---

<SlideVideo source={Explosion} loop={true}>
	<div>
		<span class="label">Les devs React sur des tâches de mémoïsation...</span>
		<br/><br/>
		<Separator isWhiteColor />
	</div>
</SlideVideo>
<Slide>
	<p>Et c'est pour ça que...</p>
</Slide>
<Slide>
	<p
		style={{
			marginBottom: "5rem",
		}}
	>
		Et c'est pour ça que...
	</p>
	<img
		src={ReactCompiler}
		alt="React Compiler logo"
		class="reactCompilerLogo"
	/>
</Slide>
<Slide>
	<img
		src={ReactCompiler}
		alt="React Compiler logo"
		class="reactCompilerLogo"
	/>
	<p
		style={{
			marginTop: "5rem",
		}}
	>
		Retour en arrière...
	</p>
</Slide>

<style>
	.reactCompilerLogo {
		width: 60%;
		text-align: center;
		filter: drop-shadow(0 0 0.75rem var(--primary-color));
	}

	p {
		font-size: 4rem;
		font-weight: 700;
		background-color: var(--background-color);
		border: dashed 2px var(--primary-color);
		border-radius: 15px;
		text-wrap: balance;
		padding: 1rem 2rem;
	}

	.label {
		text-wrap: balance;
		font-size: 3rem;
		font-weight: 900;
		color: white;
		text-transform: uppercase;
		text-shadow: 3px 0 #000, -3px 0 #000, 0 3px #000, 0 -3px #000,
		3px 3px #000, -3px -3px #000, 3px -3px #000, -3px 3px #000;
	}
</style>
