---
import Layout from "../layouts/Layout.astro";
import Now from "../slides/conclusion/Now.astro";
import QuiSommesVous from "../slides/conclusion/QuiSommesVous.astro";
import References from "../slides/conclusion/References.astro";
import Thanks from "../slides/conclusion/Thanks.astro";
import LiveCoding from "../slides/explication/LiveCoding.astro";
import Playground from "../slides/explication/Playground.astro";
import RecapBigPart from "../slides/explication/RecapBigPart.astro";
import Rendering from "../slides/explication/rendering/Rendering.astro";
import ExplicationTitle from "../slides/explication/Title.astro";
import DemoTime from "../slides/exploration/DemoTime.astro";
import OtherExample from "../slides/exploration/OtherExample.astro";
import ReactCompiler from "../slides/intro/ReactCompiler.astro";
import MainTitle from "../slides/intro/Title.astro";
import Hooks from "../slides/explication/rendering/Hooks.astro";
import Flashback from "../slides/explication/Flashback.astro";
import WhatIsReactCompiler from "../slides/explication/WhatIsReactCompiler.astro";
import RulesOfReact from "../slides/explication/RulesOfReact.astro";
import QuoteCompiler from "../slides/explication/QuoteCompiler.astro";
import Conclusion from "../slides/conclusion/Conclusion.astro";
import OpenFeedback from "@/slides/conclusion/OpenFeedback.astro";
---

<Layout title="React Compiler Reveal 🤯">
	<main class="reveal">
		<div class="slides">
			<!-- intro -->
			<MainTitle />
			<ReactCompiler />
			<!-- explication -->
			<ExplicationTitle />
			<Rendering />
			<Hooks />
			<Flashback />
			<WhatIsReactCompiler />
			<RulesOfReact />
			<QuoteCompiler />
			<LiveCoding />
			<Playground />
			<RecapBigPart />
			<!-- exploration -->
			<DemoTime />
			<OtherExample />
			<Now />
			<!-- conclusion -->
			<Conclusion />
			<References />
			<QuiSommesVous />
			<Thanks />
			<OpenFeedback />
		</div>
	</main>
</Layout>
