---
import Slide from "../../components/Slide.astro";
import SlideTitle from "../../components/SlideTitle.astro";
import Schema from "./Schema.astro";
---

<Slide>
	<Slide>
		<SlideTitle title="+ 43 étapes au sein du React Compiler" punctuation="."/>
	</Slide>
	<Slide>
		<aside class="notes">
			En mode :
			- On présente les 43 étapes une par une ?
			- À ton avis...
			- Ok, étape numéro une sur 43, HIR ... --se fait couper la parole--
			- Mais non ! On va pas faire ça !
			- Ah bon ?
			- On va plutôt les regrouper par catégories à la limite sinon on va perdre tout le monde et ça va contre la
			volonté de React !
		</aside>
		<SlideTitle title="+ 43 étapes au sein du React Compiler" punctuation="."/>
		<ul style={{padding: "5rem"}}>
			<li>HIR.</li>
		</ul>
	</Slide>
	<Slide>
		<aside class="notes">
			On va faire simple, je t'explique comment on peut simplifier ça et après je te dit pourquoi on fait simple.
		</aside>
		<SlideTitle title="Pour faire simple" punctuation=":"/>
		<p class="summary">
			<span><strong class="old">43</strong> étapes</span>
			<span data-fragment-index="2" class="fragment arrow">➜</span>
			<span data-fragment-index="2" class="fragment"><strong>10</strong> grandes catégories</span>
			<span data-fragment-index="3" class="fragment arrow">➜</span>
			<span data-fragment-index="3" class="fragment question">Pourquoi on fait simple ?</span>
		</p>
	</Slide>
	<Slide>
		<SlideTitle title="Pour faire simple" punctuation=":"/>
		<Schema/>
		<strong></strong>
		<div class="def r-stack">
			<p class="fragment current-visible fade-out" data-fragment-index="1">Déterminer qu'est <strong>ce qui doit être
				compilé dans les fichiers</strong>, selon notre configuration où les directives utilisées.</p>
			<p class="fragment current-visible" data-fragment-index="2">Conversion de <strong>Babel AST</strong> en <strong>HIR</strong>
				(High-level Intermediate Representation)</p>
			<p class="fragment current-visible" data-fragment-index="3">Processus de <strong>normalisation et d'optimisation
				du HIR</strong></p>
			<p class="fragment current-visible" data-fragment-index="4">
				Vérification des <strong>Rules of React</strong>, suppression du <strong>code mort</strong> et <strong>inférence
				de types</strong>
			</p>
			<p class="fragment current-visible" data-fragment-index="5"></p>
			<p class="fragment current-visible" data-fragment-index="6"></p>
			<p class="fragment current-visible" data-fragment-index="7"></p>
			<p class="fragment current-visible" data-fragment-index="8"></p>
			<p class="fragment current-visible" data-fragment-index="9"></p>
			<p class="fragment current-visible" data-fragment-index="10"></p>
		</div>
	</Slide>
</Slide>

<style>
	ul, ol {
		list-style-type: decimal;

		li {
			font-size: 1.8rem;
			font-weight: 700;
			color: var(--dark-grey);
			margin: 1rem 0;
			text-wrap: balance;

			&::marker {
				font-size: 5rem;
				color: var(--primary-color);
			}

			strong {
				color: var(--primary-color);
			}
		}
	}

	.summary {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 1.5rem;
		padding-top: 3rem;
		font-size: 3rem;
		font-weight: 700;
		color: var(--dark-grey);
		margin: 1rem 0;
		text-wrap: balance;

		strong {
			color: #7cbc7c;

			&.old {
				color: #c56262;
			}
		}

		.arrow {
			font-size: 2.5rem;
			color: var(--primary-color);
			transform: rotate(90deg);
		}

		.question {
			font-size: 2.5rem;
			color: var(--primary-color);
			border: dashed 2px var(--primary-color);
			border-radius: 15px;
			padding: 0.5rem 1.5rem;
			background-color: var(--background-color);
		}
	}

	.def {
		margin-top: 2.5rem;
		padding: 0 1.5rem;
		text-wrap: balance;
		border-left: 5px solid var(--primary-color);
		border-right: 5px solid var(--primary-color);

		p {
			font-size: 1.5rem;
			font-weight: 600;
			color: var(--dark-grey);
			margin: 1rem 0;
			padding: 1rem 0;
			text-wrap: balance;

			strong {
				font-weight: 700;
				color: var(--primary-color);
			}
		}
	}
</style>
