---
import Slide from "../../components/Slide.astro";
import SlideTitle from "../../components/SlideTitle.astro";
import Ressource from "../../components/Ressource.astro";
---

<Slide>
	<SlideTitle title="Comment fonctionne le rendering" punctuation="?" />
	<p>Todo</p>
	<span>Explication rapide de comment fonctionne le rendering parent / children</span>
	<Ressource source="Mickaël Alves - https://source.com" />
</Slide>
