---
import Separator from "../../components/Separator.astro";
import SlideVideo from "../../components/SlideVideo.astro";

import Bases from "../../assets/videos/bases.mp4?url";
---

<SlideVideo source={Bases}>
	<div>
		<p class="label">Reprenons les bases...</p>
		<Separator isWhiteColor />
	</div>
</SlideVideo>

<style>
	.label {
		font-size: 4rem;
		font-weight: 900;
		color: white;
		text-transform: uppercase;
		text-shadow: 3px 0 #000, -3px 0 #000, 0 3px #000, 0 -3px #000,
		3px 3px #000, -3px -3px #000, 3px -3px #000, -3px 3px #000;
	}
</style>
