---
import Slide from "../../components/Slide.astro";

import Title from "./history/Title.astro";
import Timeline from "./history/Timeline.astro";
---

<Slide>
	<Title />
	<Timeline />
	<Slide>
		<h2>What is compilation</h2>
		<p>Todo</p>
		<span>Qu’est ce que la compilation / transpilation ?</span>
	</Slide>
	<Slide>
		<h2>Rules of React</h2>
		<p>Todo</p>
		<span>Rules of React</span>
	</Slide>
	<Slide>
		<h2>Why React compiler</h2>
		<p>Todo</p>
		<span>“Synthèse de à quoi ça sert ⇒ Citation Dan Abramov</span>
	</Slide>
</Slide>
