---
import Slide from "../../components/Slide.astro";
---

<Slide>
	<Slide>
		<h2>Why React Compiler?</h2>
		<p>Todo</p>
		<span>
			Mais du coup : qu’est ce que ramène le React Compiler ? = Explication
			React Compiler
		</span>
	</Slide>
	<Slide>
		<h2>React Compiler History</h2>
		<p>Todo</p>
		<span>“Histoire” du React Compiler</span>
	</Slide>
	<Slide>
		<h2>What is compilation</h2>
		<p>Todo</p>
		<span>Qu’est ce que la compilation / transpilation ?</span>
	</Slide>
	<Slide>
		<h2>Rules of React</h2>
		<p>Todo</p>
		<span>Rules of React</span>
	</Slide>
	<Slide>
		<h2>Why React compiler</h2>
		<p>Todo</p>
		<span>“Synthèse de à quoi ça sert ⇒ Citation Dan Abramov</span>
	</Slide>
</Slide>
