---
interface Props {
	width?: string;
	isWhiteColor?: boolean;
}

const {width, isWhiteColor} = Astro.props;
---

<div data-id="separator">
	<hr style={{
		width: width,
		backgroundImage: isWhiteColor
			? 'linear-gradient(to right, rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0))'
			: 'linear-gradient(to right, rgba(0, 0, 0, 0), var(--primary-color), rgba(0, 0, 0, 0))'
	}}/>
</div>

<style>
	hr {
		width: 50%;
		border: 0;
		height: 2px;
		margin-top: 0;
	}
</style>
