---
import React from "react";
interface Props {
  title: string;
  punctuation: string;
  style?: React.CSSProperties;
}

const { title, punctuation, style } = Astro.props;
---

<p
	class="titleSlide"
  style={{
    ...style,
  }}
>
    <span>
      {title}&nbsp;<strong>{punctuation}</strong>
    </span>
</p>

<style lang="scss">
	.titleSlide {
		width: fit-content;
		display: flex;
		justify-content: start;
		align-items: center;
		font-size: 1.2rem;
		margin-bottom: 2rem;
		font-weight: 700;
		background-color: var(--background-color);
		border: dashed 2px var(--primary-color);
		border-radius: 15px;

		span {
			text-wrap: balance;
			margin: 0.6rem 1rem;
		}

		span strong {
			color: var(--primary-color);
		}
	}
</style>
